section{
    width: 40%;
    display:flex;
    margin: auto;
    height:270px;
    padding: auto;
}
div.result, div.summary{
    color: white;
    display: block;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px ;
}
div.result{
    background-color:rgb(66, 66, 190);
}
div.result>h6{
    font-weight: 200;
    font-size: 12px;
}
div.result>p.great{
    font-size: 15px;
}
div.result>p.num{
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 2px;
}
div.result>p{
    font-size: 9px;
    margin-top: 2px;
}
div.summary>div{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    height: 30px;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 6px;
    
}
div.summary>div>p>img{
    height:12px;
    margin-left: -20px;
}
div.summary{
   box-shadow: 5px 5px 3px rgb(174, 172, 172);
   
}
div.summary>h6{
    text-align: left;
    color: black;
    font-size: 13px;
    font-weight: 1000;
    margin:0px 0px 25px 20px;
}
div.summary>div.continue{
    background-color: darkslategray;
    color: white;
     border-radius: 25px;
     font-size: 12px;
}
div.summary>div>p.text{
    font-size: 10px;
    margin-left:-30px;
    border:1px solid red
}
div.summary>div>p.score{
    font-size: 10px;
    margin-right: -40px;
}
