section{
    width: 55%;
    display:flex;
    margin: auto;
    height:300px;
    padding: auto;
    min-width: fit-content;
}

div.result, div.summary{
    color: white;
    display: block;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
}
div.result{
    background-color: blue;
}
div.result>h6, div.result>p{
    padding: auto;
}
div.summary>div{
    width: 80%;
    margin: auto;
    margin-bottom: 8px;
    height: 35px;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
    min-width: fit-content;
    /**box-shadow;**/
}

div.summary>h6{
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px 30px 0;
}